@{
    ViewData["Title"] = "Home Page";
}
<img src="~/lib/img/mountainbanner.jpg" alt="Park City" style="width: 100%; height: auto;">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about snowboarding!</p>
</div>
<section>
    <h2>My Snowboarding Hobby</h2>
    <p>My hobby is snowboarding. I have been snowboarding for over 8 years. Over the years, 
        I've had the privilege of snowboarding at Mount Hood Meadows, 
        and I currently hit the slopes at Park City. There's something exhilarating about the speed – 
        I love going fast, topping out at 60 mph. The feeling of the wind on my face and the rush of adrenaline is unbeatable.</p>

    <p>
        <img src="~/lib/img/mountain.jpg" alt="Park City Snowboarding" style="float: left; margin-right: 15px; width: 230px; height: auto;">
        But it's not just about the speed. I also love being outdoors,
        finding a peaceful spot in the mountains where the snow blankets everything around me. 
        There's a special tranquility in the air up there that makes the experience even more enjoyable. 
        One of my favorite things to do is venture through the trees, discovering new trails, 
        each one offering a unique challenge and thrill.
    </p>

    <p>Over the years, I've had the opportunity to teach at least 15 friends how to snowboard. 
        It's always fun to share my passion for the sport and help others experience the excitement of gliding down the mountain. 
        Whether it's showing someone how to properly carve or helping them gain confidence on the slopes, 
        there's something rewarding about seeing others enjoy the sport as much as I do.</p>

    <h3>General Snowboarding Info</h3>
    <p>Snowboarding is a thrilling sport that combines speed, skill, and the beauty of nature. 
        Whether you're a beginner or an experienced rider, there's always something new to learn. 
        The sport has evolved over the years, and there are different styles, including freestyle, alpine, and backcountry. 
        Each style brings its own unique challenges, from jumping and tricks in freestyle to carving down a steep mountain in 
        alpine. Snowboarding is not only about the ride but also about connecting with nature and enjoying the mountains 
        in a way that few other sports can offer.</p>
</section>

